// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
	margin: 0;
	font-family: Nunito, sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	color: #6c757d;
	text-align: left;
}

label {
	font-weight: 600;
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: "liga";
}

.navbar-custom {
	padding: 0;
	background-color: #fff;
	box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
	min-height: 70px;
}

.navbar-custom .topbar-right-menu .nav-link {
	padding: 0;
	color: #98a6ad;
	min-width: 32px;
	display: block;
	text-align: center;
	margin: 0 10px;
	border: 0;
}

.nav-user {
	padding: 16px 20px 16px 57px !important;
	text-align: left !important;
	position: relative;
	background-color: #fafbfd;
	border: 1px solid #f1f3fa;
	border-width: 0 1px;
	min-height: 70px;
}

.nav-user .account-user-avatar {
	position: absolute;
	top: 19px;
	left: 15px;
}

.nav-user .account-user-avatar img {
	height: 32px;
	width: 32px;
}

.nav-user .account-user-name {
	display: block;
	font-weight: 600;
}

.nav-user .account-position {
	display: block;
	font-size: 12px;
	margin-top: -3px;
}

.app-search .form-control {
	border: none;
	height: 38px;
	padding-left: 40px;
	padding-right: 20px;
	background-color: #f1f3fa;
	box-shadow: none;
}

.page-title-box .page-title {
	font-size: 18px;
	margin: 0;
	line-height: 85px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: inherit;
	font-weight: 900;
}

.page-title-box .page-title-right {
	float: right;
	margin-top: 25px;
}

.card .header-title {
	margin-bottom: 0.5rem;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-size: 1rem;
	margin-top: 0;
	font-weight: 900;
}

.dropzone {
	border: 2px dashed #dee2e6;
	background: #fff;
	border-radius: 6px;
	outline: none;
	min-height: 150px;
	position: relative;
}

.dropzone .dz-message {
	text-align: center;
	padding: 40px;
	outline: none !important;
}

.dz-preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.dz-image img {
	width: 100%;
}
